.solutions-section{

background:#020914;

padding:140px 0;

}



.solutions-container{

width:1400px;

max-width:92%;

margin:auto;

display:grid;

grid-template-columns:400px 1fr;

gap:100px;

}





.solutions-heading{

position:sticky;

top:120px;

height:max-content;

}





.solutions-heading span{

font-size:13px;

letter-spacing:5px;

color:#3155ff;

}





.solutions-heading h2{

font-size:70px;

line-height:1;

letter-spacing:-3px;

color:white;

margin:25px 0;

}





.solutions-heading p{

font-size:17px;

line-height:1.7;

color:#91a6cc;

max-width:350px;

}





.solutions-list{

display:flex;

flex-direction:column;

gap:25px;

}





.solution-card{


background:#0d1527;

border:1px solid rgba(255,255,255,.12);

border-radius:28px;

padding:35px;

transition:.3s;

position:relative;

overflow:hidden;


}



.solution-card:hover{

border-color:#3155ff;

}





.solution-card:before{


content:"";

position:absolute;

width:250px;

height:250px;

background:#3155ff;

right:-120px;

top:-120px;

filter:blur(120px);

opacity:.18;


}





.solution-header{


display:flex;

align-items:center;

gap:20px;

position:relative;

z-index:2;


}





.solution-number{

font-size:14px;

color:#3155ff;

}





.solution-header h3{


font-size:30px;

line-height:1.2;

color:white;

margin:0;

flex:1;


}





.solution-arrow{


width:45px;

height:45px;

border-radius:50%;

border:1px solid rgba(255,255,255,.2);

display:flex;

align-items:center;

justify-content:center;

color:white;


}





.solution-card p{


color:#91a6cc;

font-size:16px;

line-height:1.7;

margin:25px 0;

position:relative;

z-index:2;


}





.solution-services{


display:flex;

gap:12px;

flex-wrap:wrap;

position:relative;

z-index:2;


}





.solution-services span{


background:#111c33;

border:1px solid rgba(255,255,255,.1);

padding:10px 16px;

border-radius:50px;

font-size:13px;

color:#c3d0ed;


}





@media(max-width:1100px){


.solutions-container{

grid-template-columns:1fr;

gap:60px;

}



.solutions-heading{

position:relative;

top:auto;

}



.solutions-heading h2{

font-size:55px;

}


}



@media(max-width:600px){


.solutions-section{

padding:90px 0;

}



.solutions-heading h2{

font-size:40px;

}



.solution-card{

padding:25px;

}



.solution-header h3{

font-size:24px;

}


}