.tech-section{

background:#020914;

padding:110px 0;

overflow:hidden;

}





.tech-container{

width:1400px;

max-width:95%;

margin:auto;

text-align:center;

}





.tech-label{

font-size:12px;

letter-spacing:5px;

color:#3155ff;

}





.tech-container h2{

font-size:75px;

line-height:1;

letter-spacing:-3px;

font-weight:600;

color:white;

margin:25px 0;

}





.tech-container p{

max-width:600px;

margin:auto;

color:#91a6cc;

font-size:17px;

line-height:1.7;

}





.tech-carousel{

margin-top:120px;

width:100vw;

overflow:hidden;

position:relative;

left:50%;

transform:translateX(-50%);

}





.tech-track{

display:flex;

gap:120px;

width:max-content;

align-items:center;

}





.tech-item{

display:flex;

align-items:center;

gap:20px;

min-width:220px;

}





.tech-icon{

font-size:45px;

line-height:1;

color:#3155ff;

filter:

drop-shadow(0 0 18px rgba(49,85,255,.45));

}





.tech-item span{

font-size:26px;

color:#d7e2ff;

white-space:nowrap;

}





@media(max-width:900px){


.tech-container h2{

font-size:55px;

}



.tech-track{

gap:50px;

}



.tech-icon{

font-size:42px;

}



.tech-item span{

font-size:18px;

}


}





@media(max-width:600px){


.tech-section{

padding:90px 0;

}



.tech-container h2{

font-size:40px;

}



.tech-carousel{

margin-top:60px;

}



.tech-icon{

font-size:34px;

}



.tech-item span{

font-size:16px;

}



}