.pricing-section{

background:#020914;

padding:140px 0;

overflow:hidden;

}





.pricing-container{

width:1400px;

max-width:92%;

margin:auto;

}





.pricing-heading{

text-align:center;

max-width:800px;

margin:0 auto 80px;

}





.pricing-heading span{

font-size:12px;

letter-spacing:5px;

color:#3155ff;

}





.pricing-heading h2{

font-size:75px;

line-height:1;

letter-spacing:-3px;

color:white;

margin:25px 0;

}





.pricing-heading p{

font-size:17px;

line-height:1.7;

color:#91a6cc;

}





.pricing-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}





.pricing-card{


background:#10182b;

border:1px solid rgba(255,255,255,.12);

border-radius:30px;

padding:40px 35px;

position:relative;

overflow:hidden;

min-height:500px;

display:flex;

flex-direction:column;

}





.pricing-card::before{


content:"";

position:absolute;

width:250px;

height:250px;

background:#3155ff;

opacity:.15;

filter:blur(120px);

right:-100px;

top:-100px;


}





.pricing-card h3{


font-size:26px;

color:white;

margin:0 0 20px;

position:relative;


}





.price{


font-size:34px;

font-weight:600;

color:white;

margin-bottom:20px;

position:relative;


}





.plan-desc{


color:#91a6cc;

font-size:15px;

line-height:1.6;

position:relative;


}





.pricing-card ul{


list-style:none;

padding:0;

margin:35px 0;

display:flex;

flex-direction:column;

gap:16px;

flex:1;

position:relative;


}





.pricing-card li{


color:#d6e0f5;

font-size:15px;

display:flex;

gap:12px;

align-items:center;


}





.pricing-card li span{


color:#3155ff;

}





.pricing-card a{


height:48px;

border-radius:50px;

border:1px solid rgba(255,255,255,.2);

display:flex;

align-items:center;

justify-content:center;

color:white;

text-decoration:none;

transition:.3s;


}





.pricing-card a:hover{


background:#3155ff;

border-color:#3155ff;


}





/* Highlight Card */


.pricing-card.popular{


background:

linear-gradient(

180deg,

#172553,

#10182b

);


border-color:#3155ff;

transform:translateY(-25px);


}





.pricing-card.popular a{


background:#3155ff;

border-color:#3155ff;


}





.popular-tag{


position:absolute;

top:20px;

right:25px;

font-size:11px;

letter-spacing:1px;

background:#3155ff;

color:white;

padding:8px 14px;

border-radius:50px;


}





@media(max-width:1000px){


.pricing-grid{

grid-template-columns:1fr;

}



.pricing-card.popular{

transform:none;

}



.pricing-heading h2{

font-size:55px;

}



}





@media(max-width:600px){


.pricing-section{

padding:90px 0;

}



.pricing-heading h2{

font-size:40px;

}



.pricing-card{

padding:30px 25px;

}



}