.inner-cta-section{

background:#020914;

padding:100px 0;

}



.inner-cta-box{


width:1400px;

max-width:92%;

min-height:320px;

margin:auto;


border-radius:28px;


border:1px solid rgba(255,255,255,.15);


background:

linear-gradient(

180deg,

#0b1222 0%,

#172b74 100%

);


position:relative;


overflow:hidden;


display:flex;

align-items:center;

justify-content:center;


text-align:center;


}




.inner-cta-glow{


position:absolute;


width:700px;

height:300px;


bottom:-200px;


left:50%;


transform:translateX(-50%);


background:#3155ff;


opacity:.55;


filter:blur(120px);


}





.inner-cta-content{


position:relative;

z-index:2;


}





.inner-cta-content h2{


font-size:50px;


line-height:1.05;


letter-spacing:-3px;


font-weight:500;


color:white;


margin:0 0 20px;


}





.inner-cta-content p{


font-size:17px;


line-height:1.6;


color:#b6c6eb;


max-width:550px;


margin:0 auto 35px;


}





.inner-cta-content a{


display:inline-flex;


align-items:center;


justify-content:center;


background:white;


color:#050b18;


padding:14px 30px;


border-radius:50px;


font-size:15px;


text-decoration:none;


font-weight:500;


transition:.3s;


}





.inner-cta-content a:hover{


transform:translateY(-4px);


}





@media(max-width:900px){


.inner-cta-box{

min-height:370px;

padding:40px 20px;

}



.inner-cta-content h2{

font-size:50px;

}


}





@media(max-width:600px){


.inner-cta-section{

padding:70px 0;

}



.inner-cta-content h2{

font-size:36px;

letter-spacing:-1px;

}



.inner-cta-content p{

font-size:15px;

}



}