.service-overview{

background:#020914;

min-height:750px;

padding:120px 0;

position:relative;

overflow:hidden;

display:flex;

flex-direction:column;

justify-content:center;

}



.overview-glow{


position:absolute;


width:700px;

height:400px;


background:#3155ff;


opacity:.15;


filter:blur(160px);


top:-150px;


left:50%;


transform:translateX(-50%);


}




.overview-title{

position:relative;

z-index:2;

max-width:1400px;

width:90%;

margin:0 auto;


text-align:left;


font-size:88px;


line-height:1.05;


letter-spacing:-4px;


font-weight:700;


color:white;


}





.overview-bottom{


max-width:1400px;


width:90%;


margin:120px auto 0;


display:grid;


grid-template-columns:1fr 1fr;


align-items:center;


gap:100px;


}





.overview-carousel{

overflow:hidden;

width:100%;

}



.overview-track{

display:flex;

align-items:center;

gap:40px;

width:max-content;

animation:overviewScroll 18s linear infinite;

}





.overview-icon{

display:flex;

align-items:center;

gap:15px;

padding:0;

background:transparent;

border:none;

white-space:nowrap;

}





.overview-icon img {
    object-fit: contain;
    width: 90px;
    height: 90px;
    border-radius: 16px;
}
.overview-icon span{

font-size:22px;

color:#d7e2ff;

}
@keyframes overviewScroll{


from{

transform:translateX(0);

}


to{

transform:translateX(-50%);

}


}





.overview-description p{


font-size:20px;


line-height:1.6;


color:#9db5db;


max-width:420px;


}




@keyframes moveIcons{


from{

transform:translateX(0);

}


to{

transform:translateX(-50%);

}


}





@media(max-width:900px){


.service-overview{

padding:100px 0;

}



.overview-title{


font-size:58px;
text-align:left;



}



.overview-bottom{


grid-template-columns:1fr;


gap:50px;


margin-top:80px;


}




.overview-description p{


font-size:17px;


}



}




@media(max-width:600px){


.overview-title{


font-size:42px;

letter-spacing:-2px;


}



.overview-icon{


width:90px;

height:90px;


font-size:13px;


}



}